@use "global" as *;

.blog {
  padding-top: rem(84);
  height: 100%;

  @include mq(md) {
    padding-top: rem(101);
  }
}

.blog__inner {
  width: 100%;
  padding-right: rem(21);
  padding-left: rem(21);
  margin-right: auto;
  margin-left: auto;
  max-width: rem(602);

  @include mq("md") {
    max-width: $inner + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}

.blog__cards {
  margin-top: rem(29);
  position: relative;

  @include mq(md) {
    margin-top: rem(80);
  }
}

.blog__button {
  text-align: center;
  margin-top: rem(39);

  @include mq(md) {
    margin-top: rem(81);
  }
}

//parallax
.parallax-bg {
  background-image: url(../images/common/parallax.jpg);
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: rem(400);
  margin-top: rem(100);
}