@use "global" as *;

.layout-contact {
  margin-top: rem(80);

  @include mq(md) {
    margin-top: rem(140);
  }
}

.layout-contact--sub {
  margin-top: rem(105);

  @include mq(md) {
    margin-top: rem(140);
  }
}

