@use "global" as *;

.page-sitemap__nav {
  position: relative;
}

.page-sitemap__nav::before {
  content: '';
  position: absolute;
  width: calc((120 / 375) * 100vw);
  height: calc((55 / 375) * 100vw);
  background-image: url(../images/common/fish-illustration-right.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  left: calc(50% - min(46vw, rem(620)));
  top: rem(-18);

  @include mq(md) {
    width: rem(301);
    height: rem(138);
    left: calc(50% - min(48vw, rem(620)));
    top: rem(-65);
    z-index: 0;
  }
}