@use "global" as *;

.page-about-gallery__container {
  display: grid;
  gap: rem(8);
  margin-top: rem(41);

  @include mq(md) {
    grid-template-columns: 45.555% 7.4% auto;
    grid-template-rows: auto;
    margin-top: rem(80);
    grid-auto-flow: dense;
  }
}

.page-about-gallery__image {
  cursor: pointer;
}

.page-about-gallery__image:nth-child(6n+1),
.page-about-gallery__image:nth-child(6n+6) {

  @include mq(md) {
    grid-column: span 1;
    grid-row: span 2;
  }
}

.page-about-gallery__image:nth-child(6n+1) img,
.page-about-gallery__image:nth-child(6n+6) img {
  aspect-ratio: 345/219;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;

  @include mq(md) {
    aspect-ratio: 345/523;
  }
}

.page-about-gallery__image:nth-child(6n+2),
.page-about-gallery__image:nth-child(6n+3),
.page-about-gallery__image:nth-child(6n+4),
.page-about-gallery__image:nth-child(6n+5) {

  @include mq(md) {
    grid-column: span 2;
    grid-row: span 1;
  }
}

.page-about-gallery__image:nth-child(6n+2) img,
.page-about-gallery__image:nth-child(6n+3) img,
.page-about-gallery__image:nth-child(6n+4) img,
.page-about-gallery__image:nth-child(6n+5) img {
  aspect-ratio: 345/219;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}