@use "global" as *;

.single-pagenavi__box {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: rem(50);
}

.single-pagenavi__prev,
.single-pagenavi__next {
  background-color: $white;
  border: rem(1) solid $accent-color;
  color: $accent-color;
  display: inline-block;
  line-height: 1;
  transition: 0.3s;
  white-space: nowrap;
  width: rem(38);
  margin: 0;
  cursor: pointer;
}

.single-pagenavi__prev,
.single-pagenavi__next {
  position: relative;
  height: 100%;
}

.single-pagenavi__prev a,
.single-pagenavi__next a {
  display: block;
  width: 100%;
  height: rem(36);
}

.single-pagenavi__prev::after,
.single-pagenavi__next::after {
  aspect-ratio: 1/1;
  border-bottom: rem(1) solid $accent-color;
  border-right: rem(1) solid $accent-color;
  content: "";
  height: auto;
  position: absolute;
  top: 50%;
  width: rem(10);
}

.single-pagenavi__prev:hover::after,
.single-pagenavi__next:hover::after {
  border-bottom: rem(1) solid $white;
  border-right: rem(1) solid $white;
}

.single-pagenavi__prev:hover::after,
.single-pagenavi__next:hover::after {
  aspect-ratio: 1/1;
  border-bottom: rem(1) solid $accent-color;
  border-right: rem(1) solid $accent-color;
  content: "";
  height: auto;
  position: absolute;
  top: 50%;
  width: 0.625rem;
}

.single-pagenavi__prev::after {
  left: calc(50% + rem(2));
  transform: translate(-50%, -50%) rotate(135deg);
}

.single-pagenavi__next::after {
  left: calc(50% - rem(2));
  transform: translate(-50%, -50%) rotate(-45deg);
}

.single-pagenavi__prev a,
.single-pagenavi__next a {
  opacity: 0;
}

.single-pagenavi__prev:hover,
.single-pagenavi__next:hover {
  background-color: $accent-color;
  border-color: $accent-color;
  color: $white;
  opacity: 1;
}

.single-pagenavi__prev:hover::after,
.single-pagenavi__next:hover::after {
  border-bottom: rem(1) solid $white;
  border-right: rem(1) solid $white;
}




