@use "global" as *;

.blog-cards {
  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(80) rem(40);
  }
}

.blog-cards--2col {
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}