@use "global" as *;

.category-list__items {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: rem(16) rem(21);
  margin: 0 auto;

  @include mq(md) {
    display: flex;
    flex-wrap: wrap;
    gap: rem(16) rem(32);
  }
}

.category-list__item {
  font-family: $base-font-family;
  font-size: rem(14);
  font-weight: $regular;
  line-height: calc(22/14);
  color: $accent-color;
  border: 1px solid $accent-color;
  padding: rem(5) 0;
  text-align: center;
  transition: 0.3s;
  background-color: $white;

  @include mq(md) {
    width: rem(162);
  }
}

.category-list__item.is-active {
  background-color: $accent-color;
  color: $white;
}

.category-list__item:hover {
  background-color: $accent-color;
  color: $white;
}

.category-list__item a {
  display: inline-block;
  cursor: pointer;
  width: 100%;
}

